@font-face {
  font-family: 'Cormorant';
  src: url('Cormorant-Regular.eot');
  src: local('Cormorant Regular'), local('Cormorant-Regular'),
      url('Cormorant-Regular.woff2') format('woff2'),;
  font-weight: normal;
  font-style: normal;
}

